.contact{
    border: 1px solid rgb(0, 0, 0);
    padding:1%;
    font-size:x-large;
}

.menu-box{
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 45px;
    background-color: rgba(0, 255, 255, 0.571);
    margin: 1vh;
    align-items: center;
    justify-content: space-around;
    transition: transform 0.3s ease; 
}

.menu-box:hover{
    transform: scale(1.05);
}

.line{
    height: 3px;
    width: 40px;
    background-color: black;
    transition: trasnform 0.03s ease;
}

@media (min-width:1024px) {
    .menu-box{
        display: none;
    }
}
