.contact{
    border: 1px solid rgb(0, 0, 0);
    padding:0.5%;
    margin: 1%;
    border-radius: 1vh;
    font-size:x-large;
    min-width: 25%;
}

.menu-box{
    display: flex;
    position: fixed;
    flex-direction: column;
    background-color: rgba(0, 255, 255, 0);
    margin: 1%;
    height: 50px;
    width: 50px;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    justify-content: space-around;
    transition: transform 0.3s ease; 
}

.menu-box:hover{
    transform: scale(1.05);
}

.line{
    height: 10%;
    width: 80%;
    background-color: black;
    transition: trasnform 0.03s ease;
}

@media (min-width:1024px) {
    .menu-box{
        display: none;
    }
}

@media (max-width:1023px) {
    .contact{
        display: none;
    }
}
